// Specific CSS for your home-page
.container {
  width: 100%;
  margin: 15px;
}

.d-flex img {
  width: 100%;
}

.mt-4 {
  width: 100%;
}

.text-home{
  width: 60%;
  h3{
    text-align: center;
  }
}
.img-janine{
  img:hover{
    opacity: 0.7;
  }
}

.home-page-img {
height: 700px;
}

.full-width {
  background: #ECF2EB;
}

.useful-width {
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.useful-width h3 {
  text-align: center;
  padding-bottom: 20px;
}

.margin-constraint {
  margin-right: 20px;
  margin-left: 20px;
}

.margin-constraint h3 {
  padding-bottom: 40px;
}

.images-home-user {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.rounded {
  -webkit-transition: 2s ease-in-out; 
  transition: 2s ease-in-out; 
}

.rounded .janine:hover {
  border-radius: 30%;
}

.rounded .carle:hover {
  border-radius: 30%;
}

.rounded .robert:hover {
  border-radius: 30%;
}