// Specific CSS for your home-page
.container {
  width: 100%;
  margin: 15px;
}

.d-flex img {
  width: 100%;
}

.mt-4 {
  width: 100%;
}

.text-home{
  width: 60%;
  h3{
    text-align: center;
  }
}
.img-janine{
  img:hover{
    opacity: 0.7;
  }
}

.home-page-img {
height: 700px;
}

.full-width {
  background: #ECF2EB;
}

.text {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: #E4ECE4;
}

.text h3 {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 20px;
}

.text p {
  margin: auto;
  max-width: 800px;
}

#grass-text-left {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 5px;
  bottom: 0px;
}

#grass-text-right {
  position: absolute;
  width: 180px;
  height: 300px;
  right: 15px;
  bottom: 0px;
}

@media (min-width: 100px) and (max-width: 575px) {
  text { position: static; }
}

@media (min-width: 576px) {
  text { position: static; }
}

@media (min-width: 768px) {
  text { position: static; }
}

@media (min-width: 992px) {
  text { position: static; }
}

@media (max-height: 800px) {
	text { position: static; }
}

@media (min-width: 1200px) { 
  text { position: static; }
}

.margin-constraint {
  margin-right: 20px;
  margin-left: 20px;
}

.margin-constraint h3 {
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.images-home-user {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 100px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .images-home-user {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .images-home-user {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .images-home-user {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .images-home-user {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .images-home-user {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.opacity {
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.opacity .janine:hover {
  opacity: .7;
}

.opacity .carle:hover {
  opacity: .7;
}

.opacity .robert:hover {
  opacity: .7;
}
