<footer>
  <div class="content-footer">
    <div class="image-gazon">
      <img src="https://res.cloudinary.com/df310vkui/image/upload/v1615491722/compo-herbes-footer-11_x4ikat.png" id="grass-footer-left">
      <img src="https://res.cloudinary.com/df310vkui/image/upload/v1615492265/compo-herbes-footer-12_q6g2ea.png" id="grass-footer-right">
    </div>
    <div class="bloc footer-about">
      <h3>A propos</h3>
      <ul class="list-about">
        <li><a href="#">Fonctionnement bancal</a></li>
        <li><a href="#">Les origines du mal</a></li>
        <li><a href="#">L'escadron airbvorien</a></li>
        <li><a href="#">Concours de broutage</a></li>
      </ul>
    </div>
    <div class="bloc footer-engagements">
      <h3>Nos engagements</h3>
      <ul class="list-engagements">
        <li><a href="#">Certifié herbologique</a></li>
        <li><a href="#">100% frauduleux</a></li>
        <li><a href="#">Dégradation d'espaces verts</a></li>
        <li><a href="#">Irresponsabilité</a></li>
      </ul>
    </div>
    <div class="bloc footer-assistance">
      <h3>Assistance</h3>
      <ul class="list-assistance">
        <li><a href="#">SOS allergies</a></li>
        <li><a href="#">Airbvor d'urgence</a></li>
        <li><a href="#">Equipe de secours</a></li>
        <li><a href="#">Politique de non-remboursement</a></li>
      </ul>
    </div>
    <div class="bloc footer-follow">
      <h3>Suivez-nous !</h3>
      <ul class="list-follow">
        <li><a href="#"><i class="fas fa-user-nurse" alt="icône Doctolib" id="social-medias"></i>Doctolib</a></li>
        <li><a href="#"><i class="fas fa-paw" alt="icône SPA" id="social-medias"></i>SPA</a></li>
        <li><a href="#"><i class="fab fa-instagram" alt="icône Instagram" id="social-medias"></i>Instagram</a></li>
        <li><a href="#"><i class="fab fa-youtube" alt="icône Youtube" id="social-medias-yt"></i>Youtube</a></li>
      </ul>
    </div>
  </div>
</footer>
