<footer>
  <div class="content-footer">
    <div class="bloc footer-about">
      <h3>A propos</h3>
      <ul class="list-about">
        <li><a href="#">Fonctionnement bancal</a></li>
        <li><a href="#">Les origines du mal</a></li>
        <li><a href="#">L'escadron airbvorien</a></li>
        <li><a href="#">Concours de broutage</a></li>
        </ul>
    </div>
    <div class="bloc footer-engagements">
      <h3>Nos engagements</h3>
      <ul class="list-engagements">
        <li><a href="#">Certifié herbologique</a></li>
        <li><a href="#">100% frauduleux</a></li>
        <li><a href="#">Dégradation d'espaces verts</a></li>
        </ul>
    </div>
    <div class="bloc footer-assistance">
      <h3>Assistance</h3>
      <ul class="list-assistance">
        <li><a href="#">Secours allergies</a></li>
        <li><a href="#">Airbvor d'urgence</a></li>
        <li><a href="#">Politique de non-remboursement</a></li>
        </ul>
    </div>
    <div class="bloc footer-follow">
      <h3>Suivez-nous !</h3>
      <ul class="list-follow">
        <li><a href="#"><i class="fas fa-user-nurse" alt="icône Doctolib">Doctolib</i></a></li>
        <li><a href="#"><i class="fas fa-paw" alt="icône SPA">SPA</i></a></li>
        <li><a href="#"><i class="fab fa-instagram" alt="icône Instagram">Instagram</i></a></li>
        <li><a href="#"><i class="fab fa-youtube" alt="icône Youtube">Youtube</i></a></li>
        </ul>
    </div>
  </div>
</footer>