<div class="card" style= "background-image: url(<%=animal.photos.first.url %>); background-size: cover; color: white; background-repeat: no-repeat;" >
  <h2><%= animal.name %></h2>
  <p><%= animal.address %></p>
  <p><%= animal.price_per_day %>€/jour</p>
</div>