<h2>Animals</h2>

<div class="d-flex flex-row justify-content-around">
  <button type="button" class="btn btn-light btn-lg">Lapin</button>
  <button type="button" class="btn btn-light btn-lg">Vegan</button>
  <button type="button" class="btn btn-light btn-lg">Escargot</button>
  <button type="button" class="btn btn-light btn-lg">Lama</button>
</div>

<div class="container d-flex flex-row">
  <div class="col-6 ">

    <% @animals.each do |animal| %>
      <%= link_to animal_path(animal) do %>
      <div class="d-flex justify-content-around p-2">
        <p class="d-flex justify-content-center"><%= animal.name %></p>
        <% unless animal.photos.empty? %>
          <%= cl_image_tag animal.photos.first.key, height: 200, width: 300, crop: :fill %>
        <% end %>
      </div>
      <% end %>
    <% end %>


  </div>
  <div class="col-6">

  </div>
</div>

