footer {
  border-top: 1px dashed #0D0D0D;
  width: 100%;
  color: #0D0D0D;
  background: #EBEBF2;
}

footer a {
  color: black;
  width: auto;
}

.content-footer {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 20px 0px 30px;
}

.bloc {
  width: 25%;
  margin: 0 10px;
  padding: auto;
}

.footer-about h3,
.footer-engagements h3,
.footer-assistance h3,
.footer-follow h3 {
  font-size: 20px;
  padding-bottom: 20px;
  color: #214031;
}

.list-about,
.list-engagements,
.list-assistance,
.list-follow {
  list-style-type: none;
  color: #0D0D0D;
  padding-left: 2px;
  a:hover {
    color: #F2A172;
  }
}

.list-about li,
.list-engagements li,
.list-assistance li,
.list-follow li {
  width: auto;
  text-decoration: none;
  color: #0D0D0D;
  font-size: 14px;
}
