footer {
  width: 100%;
  color: #0D0D0D;
  background: #E4ECE4;
}

footer a {
  color: black;
  width: auto;
}

.content-footer {
  width: 1000px;
  height: 180px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 40px 0px 0px;
}

.bloc {
  width: 25%;
  margin: 0 10px;
  padding: auto;
}

.footer-about h3,
.footer-engagements h3,
.footer-assistance h3,
.footer-follow h3 {
  font-size: 20px;
  padding-bottom: 5px;
  color: #214031;
}

.list-about,
.list-engagements,
.list-assistance,
.list-follow {
  list-style-type: none;
  color: #0D0D0D;
  padding-left: 2px;
  a:hover {
    color: #F2A172;
  }
}

.list-about li,
.list-engagements li,
.list-assistance li,
.list-follow li {
  width: auto;
  text-decoration: none;
  color: #0D0D0D;
  font-size: 14px;
}

#social-medias {
  padding-right: 10px;
}

#social-medias-yt {
  padding-right: 7px;
}

.image-gazon-footer{
  position:absolute;
  z-index:1000;
  top: 253%;
  left: 5px;
  height: 150px;
  background-position: bottom;
}

.image-gazon-footer1{
  position:absolute;
  z-index:1000;
  top: 247%;
  right: 1px;
  height: 180px;
  background-position: bottom;
}

