footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #0D0D0D;
  background: #E4ECE4;
}

footer a {
  color: black;
  width: auto;
}

.content-footer {
  position: relative;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 40px 0px 0px;
}

.bloc {
  width: 20%;
  margin: 0 10px;
  padding: auto;
  // padding-bottom: 20px;
}

.footer-about h3,
.footer-engagements h3,
.footer-assistance h3,
.footer-follow h3 {
  display: flex;
  justify-content: left;
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 2px;
  color: #214031;
}

.list-about,
.list-engagements,
.list-assistance,
.list-follow {
  list-style-type: none;
  color: #0D0D0D;
  padding-left: 2px;
  a:hover {
    color: #F2A172;
  }
}

.list-about li,
.list-engagements li,
.list-assistance li,
.list-follow li {
  width: auto;
  text-decoration: none;
  color: #0D0D0D;
  font-size: 14px;
}

#social-medias {
  padding-right: 10px;
}

#social-medias-yt {
  padding-right: 7px;
}

#grass-footer-left {
  position: absolute;
  width: 80px;
  height: 100px;
  left: 15px;
  bottom: 0;
  bottom: 0px;
}

#grass-footer-right {
  position: absolute;
  width: 100px;
  height: 150px;
  right: 15px;
  bottom: 0px;
}

@media (min-width: 100px) and (max-width: 575px) {
  footer { position: static; }
}

@media (min-width: 576px) {
  footer { position: static; }
}

@media (min-width: 768px) {
  footer { position: static; }
}

@media (min-width: 992px) {
  footer { position: static; }
}

@media (max-height: 800px) {
	footer { position: static; }
}

@media (min-width: 1200px) {
  footer { position: static; }
}

