.image-gazon1{
  position:absolute;
  z-index:1000;
  bottom: -25px;
  right: 25px;
  height: 100px;
  background-image: url(https://res.cloudinary.com/df310vkui/image/upload/v1615408656/herbes-08_bbf4ih.png);
  background-position: bottom;
}

.image-gazon {

}

.image-gazon-footer{
  position:absolute;
  z-index:1000;
  top: 247%;
  left: 5px;
  height: 150px;
  background-position: bottom;
}

.image-gazon-footer1{
  position:absolute;
  z-index:1000;
  top: 241%;
  right: 1px;
  height: 180px;
  background-position: bottom;
}
