.image-gazon1{
  position:absolute;
  z-index:1000;
  bottom: -25px;
  right: 25px;
  height: 100px;
  background-image: url(https://res.cloudinary.com/df310vkui/image/upload/v1615408656/herbes-08_bbf4ih.png);
  background-position: bottom;
}
