// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "form";
@import "card";
@import "footer";
@import "search";
@import "homepage";
@import "mapbox_popup";
@import "show";
@import "images";
@import "tag";
@import "user_index";
@import "text_color";
@import "background";
@import "arrow";

.saloperie {
  padding-left: 240px;
  background-color: #E4ECE4;
  font-size: 20px;
}
