.navbar-lewagon {
  justify-content: space-between;
  background: #F1F5F0;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

.navbar-align {
  text-align: -webkit-match-parent;
  padding: 10px, 10px;
}

.navbar-nav > a {
  padding: 10px 10px;
}

.nav-item a {
  text-decoration: none;
  color: #2E5945;

    &:hover {
      color: #F2A172;
    }
}