.search-home{
  position: fixed;
  top: 50px;
  right: 20vw;
  background-color: #2E5945;
  width: 60%;
  height: 70px;
  transition: 0.5s;
  border-radius: 36px;
  z-index: 10;
  margin-top: 10px;
  input{
    border-radius: 36px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    border: none;
    background-color: #2E5945;
    height: 50px;
    width: 50%;
    margin-right: 20px;
    &:hover{
      color: black;
      box-shadow: 0px 0px 15px #2E5905;
      transition: 0.6s;
      background-color: white;
    }
  }
  select{
    color: white;
    border-radius: 36px;
    margin-top: 10px;
    border: none;
    background-color: #2E5945;
    height: 50px;
    width: 30%;
    margin-left: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 15px;
    &:hover{
      transition: 0.5s;
      color: black;
      box-shadow: 0px 0px 18px #2E5905;
      transition: 0.6s;
      background-color: white;
    }
    &:active{
      border: none;
    }
  }
  button{
    background-color: #2E5945;
    border: none;
    margin-right: 15px;
    color: white;
    height: 45px;
    width: 75px;
    border-radius: 50%;
    margin-top: 12px;
    transform: scale(1.2);
    &:hover{
      color: black;
      box-shadow: 0px 0px 8px white;
      transition: 0.6s;
      background-color: white;
    }
  }
  span{
    margin-top: 15px;
    width: 3px;
    height: 40px;
    background-color: white;
  }
}
.margin-150{
  margin-top: 150px;

}
.search-bar-hidden {
  // [...]
  opacity: 0.5;
  transition: 0.5s;
  top: 0px;
  &:hover{
    transition: 0.5s opacity ease;
    opacity: 1;
  }
}