.container {
  width: 100vw;
}
.animal-description{
  display: flex;
  flex-direction: row;
  background-color: #E4ECE4;
  padding: 40px 0 40px 40px
}
.form-disponibility{
  height: 300px;
  margin-left: 60px;
}
.show-airbvor {
  position: relative;
  justify-content: space-between;
  margin: 10px 40px;
}



.name-species {
  font-size: 40px;
  color: #2E5945;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bolder;

}

.text-presentation > .description{
  font-size: 18px;
  text-transform: uppercase;

}

.info-review {
  display: flex;
  justify-content:space-around;
  padding-left: 50px;
  align-items: center;
}

.goutte {
  display: flex;
  width: 50%;
}

.text-goutte {
  flex: 1;
  font-size: 16px;

}

.image-goutte {
width: 20px;
height: auto;
flex: 1;
vertical-align:middle;

}


.lapin {
  display: flex;
  width: 50%;

}

.text-lapin {
  text-align: left;
  flex: 1;
  font-size: 16px;

}

.image-lapin {
width: auto;
height: 150px;
flex: 1;
vertical-align:middle;
}

// <== CARDS CSS WAGON ==>

      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        padding-top: 10px;
        padding-bottom: 20px;
      }

      // Smallest device
      @media (min-width: 100px) and (max-width: 575px) {
        .cards {
          grid-template-columns: 1fr;
        }
      }

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
        .cards {
          grid-template-columns: 1fr;
        }
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        .cards {
          grid-template-columns: 1fr 1fr;
        }
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        .cards {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {
        .cards {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
// <== END CARDS CSS WAGON ==>
