h1 {
  color: #2E5945;
  font-size: 40;
  font-weight: bolder;
  margin-bottom: -2px;
}

a {
  // text-decoration: none;
  color: #2E5945;
  &:hover{
      text-decoration: none;
      color: #214031;
  }
}
