.part-1{
  background-color: #E5E5E5;
}
.info-profil{
  // width: 100vw;
  padding: 50px 0px;
  position: relative;
  margin-bottom: 0px;
  display: flex;
  margin-left: 100px;
}
.herb{
  position: absolute;
  bottom: -45px;
  right: 300px;
}
.part2{
  padding: 30px 0px 60px 100px;
  // margin-left: 100px;
  position: relative;
  background-color: rgba($color: #DDDDDD, $alpha: 0.32);
  .herb2{
    position: absolute;
    bottom: -35px;
    left: 0px;
  }
  .image-animal{
    width: 200px;

  }
  .card-category{

    &:hover{
      transition: 0.5s;
      filter: contrast(40%);
      cursor: pointer;
    }
  }
}

.part-3{
  padding: 50px 0 20px 0;
  background-color: #E4ECE4;
  .wrap3{
    margin-left: 100px;
    h2{
      margin-bottom: 50px;
    }
  }
}
.reviews{
  width: 100%;
}
.part-4{
  margin-left: 100px;
  background-color: #F4F4F4;
}
.hidden{
  display: none;
  color: black;
}